doctype
html
    head
        title Imotikar Reloaded 13.0 - Real Estates
        include styles

    body(ng-app="Imotikar")
        header.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="/") IMOTikar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="/realestates/post") Offer
                        li
                            a(href="/realestates/browse") Browse
                        li
                            a(href="/aboutus") About Us
                    ul.nav.navbar-nav.navbar-right
                        if(currentUser)
                            li
                                a(href="/profile") Hi,
                                    span#currentUsername
                                        |  #{currentUser.username}
                            if(currentUser.roles.indexOf('admin') > -1)
                                li.dropdown
                                    a.dropdown-toggle(href="javascript:;" data-toggle="dropdown") Manage
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href="/users") Manage Users
                                        li
                                            a(href="/realestates/pending") Pending Posts
                                        li
                                            a(href="/realestates/moderate") Content Control
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/register") Register
                                    div
                            li
                                a(href="/login") Login
                                    div
        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}
        block main-content
        include scripts