script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/scripts/material.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/scripts/ripples.js")