link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type='text/css')
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/styles.css")
link(rel="stylesheet" href="/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css")
link(rel="stylesheet" href="/lib/bootstrap-material-design/dist/css/ripples.min.css")
link(rel='stylesheet', href='/lib/page-animation/dist/css/animsition.min.css')