extends shared/layout
block main-content
    .container
        h1 Imotikar
        h2.text-center
            strong STATISTICS
        .container.text-center
            h3 Offer Types:
            #canvas-holder(style='width:30%')
                canvas#chart-area-offer-types(width='300', height='300' style="margin-left: 111%;")
        .container.text-center
            h3 Real Estate Types:
            #canvas-holder(style='width:30%')
                canvas#chart-area-real-estate-types(width='300', height='300' style="margin-left: 111%;")
        .container.text-center
            h3 Construction Types:
            #canvas-holder(style='width:30%')
                canvas#chart-area-construction-types(width='300', height='300' style="margin-left: 111%;")