extends ../shared/layout

block main-content
    .col-md-12
        .well
            form(method="post", action="", class='form-vertical' name="searchForm")
                fieldset
                    legend Search
                    .col-md-12
                        .form-group.is-empty.col-md-4
                            input.form-control.col-md-4(type="text" placeholder="Search by name")
                            span.material-input
                        b.col-md-2 Price:
                        .form-group.is-empty.col-md-3
                            input.form-control.col-md-4(type="number" placeholder="From" min="0")
                            span.material-input
                        .form-group.is-empty.col-md-3
                            input.form-control.col-md-4(type="number" placeholder="To" min="0")
                            span.material-input
                    .col-md-12
                        .form-group.col-md-4
                            label.col-md-6.control-label(for="offerType") Offer Type
                            .col-md-12
                                select.form-control(id="offerType" multiple="")
                                    option For Sale
                                    option For Rent
                        .form-group.col-md-4
                            label.col-md-6.control-label(for="realEstateType") Type
                            .col-md-12
                                select.form-control(id="realEstateType" multiple="")
                                    option 2-rooms
                                    option 3-rooms
                                    option 3-rooms
                                    option 3-rooms
                                    option 3-rooms
                                    option Other
                        .form-group.col-md-4
                            label.col-md-6.control-label(for="constructionType") Construction
                            .col-md-12
                                select.form-control(id="constructionType" multiple="")
                                    option Brick
                                    option Panel
                                    option Other
                    .col-md-12
                        .form-group.col-md-6
                            col-md-10.col-md-offset-2
                                button(type="reset" class="btn btn-default") Cancel
                                button(type="submit" class="btn btn-primary") Browse
    h1.container
        | Browse here :)
    if realEstates
        p Real Estates
    else
        p No results