extends ../shared/layout

block main-content
    .panel.panel-primary(ProfileController as vm)
        h2.panel-heading Edit Personal Info - User !{data.user.username}

        .panel-body
            div
                .form-group
                    label.col-lg-3.control-label Username:

                    .col-lg-8
                        input.form-control(value= data.user.username, type='text' disabled)

                .form-group
                    label.col-lg-3.control-label First name:

                    .col-lg-8
                        input.form-control(type='text' ng-model="firstName" ng-init="firstName='" + data.user.firstName + "'")

                .form-group
                    label.col-lg-3.control-label Last name:

                    .col-lg-8
                        input.form-control(type='text' ng-model="lastName" ng-init="lastName='" + data.user.lastName + "'")

                .form-group
                    label.col-lg-3.control-label Phone:

                    .col-lg-8
                        input.form-control(type='text' ng-model="phoneNumber" ng-init="phoneNumber='" + data.user.phoneNumber + "'")

                .form-group
                    .col-md-8
                        button(ng-click="vm.changeInfo" class="btn btn-primary") Save Changes
                        a.btn.btn-default(href="/profile") Cancel